/*
# 1.6.1 Basic Selectors
*/
/*
Type Selector
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: crimson;
}

/*
Class Selector
*/
.small-heading {
  text-transform: uppercase;
}

/*
ID Selector
*/
#quote-by-author {
  background: lightgrey;
  padding: 10px;
  line-height: 1.75;
}

/*
# 1.6.2 Combinators
*/
